*{
	padding: 0em;
	margin:0em;
}
html,body{
    font-family:"Times New Roman",Serif;
}
#header h1{
	font-size: 2em;
}

#header h3{
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
}
a.aiutiNascosti{
	display: none;
}
#logo{
	display: none;
}
#menu{
	display:none;
}
#breadcrumb{
	display: none;
}
.main{
	width: 100%;
	font-size: 0.9em;
	padding: 0.8em 
}
.main h3{
	margin-left: 1.0em;
	margin-bottom: 1em;
	margin-top: 1em;
}
.main h2{
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-size: 1.2em;
}
.main img{
	display: none;
}
#attivita dt{
	font-size: 1.2em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	font-weight: bold;
}
#footer{
    text-align:center;
    font-size: 0.7em;
    padding: 0.5em;
    font-style: italic;
    padding-top: 1.3em;
    border-top: 1px solid #ddd;
}
#footer img{
	display: none;
}
a:link:after, a:visited:after{
	content: "["attr(href)"]";
	font-size:90%;
}
div.slider a{
	display: none;
}
#map_container{
	display: none;
}
/*Galleria*/
#torna{
	visibility: hidden;
}
div.slidetext{
	display: none;
}
a.prev, a.next{
	display: none;
}
p.hiddenGalleria{
	font-size: 1.5em;
	font-style: italic;
}