*{
	padding: 0em;
	margin:0em;
}
html,body{
    font-family:"Times New Roman",Serif;
}
#header h1{font-size: 2em;}
#header h3{font-size: 1.1em;
			font-style: italic;
			font-weight: normal;}
#logo{
	display: none;
}
#menu{
	display:none;
}
#villa{
	display: none;
}
.contentImg{
	display: none;
}
#breadcrumb{
	display: none;
}
.main{
	width: 100%;
	font-size: 0.9em;
	padding: 0.8em 
}
.main h3{
	margin-left: 1.0em;
	margin-bottom: 1em;
}
.main h2{
	margin-left: 1.0em;
	margin-bottom: 1em;
	font-size: 1.2em;
}
.main img{
	display: none;
}
#footer{
    text-align:center;
    font-size: 0.7em;
    padding: 0.5em;
    font-style: italic;
    padding-top: 1.3em;
    border-top: 1px solid #ddd;
}
#footer img{
	display: none;
}
a:link:after, a:visited:after{
	content: "["attr(href)"]";
	font-size:90%;
}
.map_container{
	display: none;
}