/*INIZIO CSS MOBILE*/

/*FOOTER*/
#footer{
    font-size: 0.9em;
}
#imgValidCode{
    display: none;
}
#imgValidCSS{
    display: none;
}

/*HEADER*/
#header h1{
	font-size: 2em;
}
#header h3{
	font-size: 1em;
}
#header{
	padding: 0.6em;
}
img#logo{
	display: none;
}

/*BREADCRUMB*/
#breadcrumb{
	padding: 0.3em;
}

/*MENU*/
#menu ul li{
	float:none;
	padding: 0.1em;
	border: 2px solid #314C43;
}
#menu ul li a{
	padding: 0.2em;
}
img.imgDot{
    width: 10%;
}
.main{
	padding: 1.2em; /*troppo stretto altrimenti, perfetto per il form che non sgrana*/
}
/*CONTENUTO GENERALE*/
.main p{
	font-size: 0.8em;
}
.main h2{ 
    font-size: 1.3em;
}
.main h3{
    font-size: 1.3em;
}
/*PAGINA CONTATTI*/
.main div.map_container{
	margin-left: -1.2em;
}
dl.elencoContatti dt{
    font-size: 1.1em;
}
dl.elencoContatti dd{
    font-size: 1em;
}
ul.elenco li{
    font-size: 0.9em;
}
ul li.diversoPeriodo{
    font-size: 1em;
}
ul .nomeCitta{
    font-size: 1em;
}

/*FORM PRENOTAZIONI*/
form.book input[type=text], textarea {
  width: 70%; 
}
.col-25 {
  width: 50%;
}

.col-75 {
  width: 50%;
}
/*PAGINA DINTORNI DL*/
#attivita dt{
	font-size: 0.9em;
}
#attivita dd img{
	display: none;
}
div.main .slideshow-container {
    height: 12em;
}
div.main .slidetext {
	font-size: 0.8em;
	  min-height: 2em;
}
/*togliere descrizione galleria, toglie troppo spazio*/
#hiddenMob{
	display: none;
}

div.main .slideshow-container{
	max-width: 100%;
	padding: 1em 0em 0em;
	
}

#mainGalleria{
	padding: 2em 0em 0em;
	background-color: rgba(2,21,19,1.00);
	
}

div.main .galleria{
	background-color: #8DC4AB;
	margin: 0em;
	width: 100%;
	padding: 1em 0em 2em;
}

div.main .contenitoreAnteprime{
	display: block;
}

div.main .anteprima{
	padding: 0em 0em 0.5em;
}

#contattiContainer{
	display: block;
}

#periodoApertura{
	margin: 1em 0em;
}

#maps{
	margin: 0em;
	width: 100%;
	min-height:  inherit;
	min-width: 100%;
}

#map_container{
	min-height: 18em;
}

#raggiungiCitta{
	padding-bottom: 2em;
}

#contattaci .elencoContatti{
	padding-left: 0.3em;
}
