/*INZIO CSS*/

/*REGOLE BASE CSS*/
*{
    padding: 0em;
    margin: 0em;
}
html{
    background-image: url("../images/colli.jpg");
    background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: cover;
    width: 100%;
}
body{
    max-width:1024px;
    margin:auto;
    font-family:"Arial",cursive,Sans-serif;
    background-color: #8DC4AB;
}

/*AIUTI ALLA NAVIGAZIONE: NB MOLTO IMPORTANTE*/
#header a.aiutiNascosti{
    position:absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

/*HEADER*/

@font-face {
  font-family: titleFont;
  src: url("../MontserratAlternates-Regular.ttf");
}

#header ul{
    list-style-type: none;
}
#header{
    padding:1.5em; /*riferito al contenitore NOTA MOLTO BENE*/
    padding-bottom: 2.5em;
	padding-top: 2em;
    text-align:center;
	background-color: #3A7F73;
    color: #FFFFFF;
	
	-webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 3px 0px rgba(50, 50, 50, 0.75);
}
#header h1{
    font-size: 5.5em;
	font-family: titleFont,"Arial",cursive,Sans-serif;
}
#header h3{
    padding-top:0.4em;
	font-family: titleFont,"Arial",cursive,Sans-serif;
    font-size: 1.3em;
}
#logo{
    float:left;
    width:auto;
	max-height: 10em;
	margin-left: 4em;
	object-fit: contain;
}

/*BREADCRUMB*/
#breadcrumb{
  color:white;
  background-color: #314C43;
  padding: 0.5em; 
  font-weight: bold;
	
	-webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 3px 0px rgba(50, 50, 50, 0.75);
}

/*MENU*/
.currentLink{
  display: block;
  color: white;
  text-align: center;
	padding: 0.8em 0em;
  background-color: #37585A;
  font-weight: bold;
}

#menu{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.75);
}
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A7F73;
}
#menu ul li{
	float: left;
	border-right: 2px solid #314C43;
	margin-right: -2px;
	min-width: 20%;
}
#menu .endMenu{
	border-right: 0px;
	margin-right: 0px;
}
#menu ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 0.8em 1em;
  font-weight: bold;
}
#menu ul li a:hover:not(.active) {
  background-color: #1B4188;
}
img#villa{
  display: block;
  margin: auto;
  width: 75%;
  border-radius: 20px;
  padding-bottom: 0.5em;
}

/*CONTENUTO GENERALE*/
.main{
  background-color: #D4F5E7;
  padding: 2em 4em;
  font-size: 1em;
  line-height: 1.5em;
	
	-webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 3px 0px rgba(50, 50, 50, 0.75);
}
.main p{
  font-size: 1em;
	color: rgba(54,68,64,1.00);
}
.main h3{
	color: rgba(42,61,54,1.00);
  	text-align: left;
  	font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
	font-family: titleFont,"Arial",cursive,Sans-serif;
}
.main h2{ /*essenzialmente pagina contatti*/
	color: rgba(42,61,54,1.00);
    font-size: 2em;
    padding-top:0.3em;
    padding-bottom: 0.8em;
	font-family: titleFont,"Arial",cursive,Sans-serif;
}
.main dt{
	color: rgba(42,61,54,1.00);
}
.bord{
    padding: 0.4em;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom, #0610C9, #24325F);
    color:white;
}

/*FOOTER*/
#footer{
	
    text-align:center;
	padding-bottom: 3.2em;
    font-size: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top:1.8em;
    font-style: italic;
    background-color: #3A7F73;
}
#footer ul li{
  list-style-type: none;
  color: white;
	padding-bottom: 0.4em;
}
#imgValidCode{
    padding-top:1em;
    float:left;
}
#imgValidCSS{
    padding-top:1em;
    float:right;
}

/*PAGINA DINTORNI*/
#attivita{
    width:94%;
    margin:auto;
}
#attivita dt{
    background-color: #3A7F73;
    color: white;
    font-weight: bold;
	  font-size: 1.3em;
    padding: 0.5em;
    margin-top: 1em;
}
#attivita dd{
    padding: 0.5em; 
	  background-color: #D4F5E7;
	  display: inline-block;
	  padding-bottom: 1em;
    border: 3px solid rgba(172,200,192,1.00);
    border-top: none;
}
#attivita dd img{
    float: right;
    width: 45%;
    margin-right: 0.7em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 10px;
}
#attivita dd img.img_attivita{
    width:15%;
}

/*PAGINA CONTATTI*/
img.imgDot{
    width: 3%;
    padding-right: 0.4em;
	margin-bottom: -0.16em;
}
#contattiContainer .contacts{
	margin-bottom: 0em;
}
dl.elencoContatti dt{
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 0.4em;
    display: inline;
}
dl.elencoContatti dd{
    font-size: 1.1em;
    display: inline;
	color: rgba(54,68,64,1.00);
}
dl.elencoContatti dd:after{
    display: block;
    content: '';
	padding-bottom: 0.5em;
}
ul.elenco li{
    padding-bottom: 0.3em;
    font-size: 1.1em;
    list-style-type: square;
    color: rgba(54,68,64,1.00);
	margin-left: 1.7em;
}

#periodoApertura .diversoPeriodo{
	font-weight: bold;
	font-style: italic;
    font-size: 1.3em;
	padding-left: 0.5em;
	padding-top: 0.5em;
}
#periodoApertura h2{
	font-size: 1.5em;
	
}

#periodoApertura .elenco li{
	font-size: 1.3em;
}
ul .nomeCitta{
    font-weight: bold;
    font-size: 1.1em;
}

#raggiungiCitta h2{
	font-size: 1.5em;
}

#contattaci h2{
	font-size: 3em;
}

#maps{
	margin-top: 0.3em;
	margin-bottom: 3em;
	height: 100%;
	max-height: 22em;
	width: 88%;
	border: 1px solid rgba(54,68,64,0.5);
}

/*qui sono disposti gli elementi di contatti*/
#contattiContainer{
	
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 1.5em;
	padding-top: 1.5em;
}
#contattaci{
	
	grid-area: 1 / 1 / span 1 / span 3;
}

#periodoApertura{
	grid-area: 2 / 1 / span 1 / span 3;
	
  	border: 4px solid #3A7F73;
  	border-radius: 10px;
	margin-right: 8em;
	padding: 1em 0em 1em 2.5em;
}

#cittaVicine{
	visibility: hidden;
	height: 0em;
}

#map_container{
	grid-area: 1 / 4 / span 2 / span 2;
	
	
}
#raggiungiCitta{
	grid-area: 3 / 1 / span 1 / span 5;
}

/*PAGINA 404*/
.main p.titolo_404{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em; 

}
.main p.sottotitolo_404{
    font-size: 1.5em;   
    text-align: center; 
    width: 60%; 
    float: left;  
    margin: 8% 2em 2em 2em; 
}
.main img.img_404{
    width: 28%;
    height: auto; 
    padding-top: 1em;
}

/* SLIDESHOW */
div.main .slideshow-container {
    max-width: 98%;
    position: relative;
    margin: auto; 
}

div.main .slideshow-container::after{
	display: block;
    content: '';
	padding-bottom: 50%; /* questo parametro regola l'aspect ratio, se si vuole il 16:9 aspect ratio è 56.25%*/
}


#slideshow_home::after{
	padding-bottom: 42%; /*per la home occupa meno spazio*/
}

div.main .mySlides {
    display: none;
}

div.main .mySlides img {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	object-fit: cover;
}

div.main .prev, div.main .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
div.main .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
div.main .prev:hover, div.main .next:hover {
  background-color: rgba(0,0,0,0.8);
}
div.main .slidetext {
  	color: white;
  	font-size: 1em;
  	position: absolute;
	padding-top: 0.4em;
  	bottom: 0em;
  	width: 100%;
  	text-align: center;  
	min-height: 2em;
	background-color: rgba(0,0,0,0.5);
}
div.main .hometext{
	min-height: 2em;
}
div.main .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
	margin-bottom: 0.5em;
}
div.main .active, div.main .dot:hover {
  background-color: #717171;
}
div.main .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}
div.main .galleria{
    width: 98%;
  	height: auto;
    margin: 0.5em auto; 
}
div.main .contenitoreAnteprime{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5em;
}
div.main .anteprima img{
  	width: 100%;
    height: 100%;
  	object-fit: cover;
	  cursor: pointer;
}
div.main .anteprima img::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}
#anteprima1{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
}
#anteprima2{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
}
#anteprima3{
  grid-column-start: 4;
  grid-row-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
}
#anteprima4{
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 4;
  grid-row-end: 3;
}
#anteprima5{
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;
}
#anteprima6{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
}
#anteprima7{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
}
#anteprima8{
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-row-end: 5;
}
#anteprima9{
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
  grid-row-end: 5;
}
#anteprima10{
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 5;
  grid-row-end: 5;
}
p#hiddenScreen{
  visibility: hidden;
}
p.hiddenGalleria{
  display: none;
}

div.slideshow-container img{
  width: 100%;
}

.punti{
  text-align: center;
}

/*FORM PRENOTAZIONE*/
form.book legend{
  margin-left:1em;
  font-weight: bold;
  font-size:1.3em;  
  color:rgba(54,68,64,1.00);
}
form.book fieldset{
  border: 4px solid #3A7F73;
  border-radius: 10px;
  margin-bottom: 0.5em;
}
form.book fieldset.bottoni{
  border-top: none;
} 
form.book label{
  margin-left: 0.4em;
  color:rgba(54,68,64,1.00);
  padding: 0.2em 0.2em 0.2em 0;
  display: inline-block;
}
form.book input[type=text], textarea {
  width: 80%;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 0.5em;  
}
form.book button, input[type=reset]{
  background-color: #3A7F73;
  color: white;
  padding: 0.8em 0.8em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

form.book button:hover,input[type=reset]:hover {
  background-color: #1B4188;
}
.col-25 {
  float: left;
  width: 30%;
  margin-top: 0.5em;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 0.5em;
}
