/*INZIO CSS*/
*{
  padding: 0em;
  margin: 0em;
}
html{
    background-image: url("../images/colli.jpg");
    background-attachment: fixed;
    width: 100%;
}
body{
    max-width:1024px;
    margin:auto;
    font-family:"Arial",cursive,Sans-serif;
    background-color: #8DC4AB;
    border: 1px solid black;
}

/*AIUTI ALLA NAVIGAZIONE: NB MOLTO IMPORTANTE*/
#header a.aiutiNascosti{
    position:absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

/*HEADER*/
#header ul{
    list-style-type: none;
}
#header{
    padding:1.5em; /*riferito al contenitore NOTA MOLTO BENE*/
    padding-bottom: 0.8em;
    text-align:center;
    background-color: #3A7F73;
    color: #FFFFFF;
}
#header h1{
  font-size: 4em;
  font-style: italic;
}
#header h3{
  padding-top:2em;
  font-style: italic;
    font-size: 1.3em;
}
#logo{
    float:left;
    width:25%;
    max-width: 15em;
    border:1px solid white;
    border-radius: 20px;
}

/*BREADCRUMB*/
#breadcrumb{
  color:white;
  background-color: #314C43;
  padding: 0.5em; 
  font-weight: bold;
}

/*MENU*/
.currentLink{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #37585A;
  font-weight: bold;
}
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A7F73;
}
#menu ul li{
  float: left;
  border-right: 2px solid #314C43;
}
#menu ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
}
#menu ul li a:hover:not(.active) {
  background-color: #1B4188;
}
img#villa{
  display: block;
  margin: auto;
  width: 75%;
  border-radius: 20px;
  padding-bottom: 0.5em;
}

/*CONTENUTO GENERALE*/
.main{
  background-color: #C2D9CF;
  padding: 1.5em 1em 3em 2em;
  font-size: 1em;
  line-height: 1.5em;
}
.main p{
  font-size: 1em;
}
.main h3{
  font-style: italic;
  text-align: center;
  font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.3em;
}
.main h2{ /*essenzialmente pagina contatti*/
    font-size: 2em;
    padding-top:0.3em;
    padding-bottom: 0.8em;
}
.bord{
    padding: 0.4em;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom, #0610C9, #24325F);
    color:white;
}

/*FOOTER*/
#footer{
    text-align:center;
    font-size: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top:0.2em;
    font-style: italic;
    border-top: 1px solid black;
    background-color: #3A7F73;
    color: white;
}
#footer ul li{
  list-style-type: none;
}
#imgValidCode{
    padding-top:1em;
    float:left;
}
#imgValidCSS{
    padding-top:1em;
    float:right;
}

/*PAGINA DINTORNI*/
#attivita{
    width:94%;
    margin:auto;
}
#attivita dt{
    background-color: #3A7F73;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 1em;
    border-style: inset;
    border-color: #314C43;
    border-bottom: none;
}
#attivita dd{
    border-top: none;
    padding: 0.5em;
    min-height: 12em;
    border-style: inset;
    border-color: #314C43;
    min-height: auto; 
}
#attivita dd img{
    float: right;
    width: 23%;
    margin-right: 0.7em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 10px;
}
#attivita dd img.img_attivita{
  width:15%;
}
/*PAGINA CONTATTI*/
.map_container{
    padding: 0.5em;
}
img.contacts{
    width: 3%;
    padding-right: 0.4em;
}
dl.elencoContatti dt{
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 0.4em;
    display: inline;
}
dl.elencoContatti dd{
    font-size: 1.1em;
    display: inline;
}
dl.elencoContatti dd:after{
  display: block;
  content: '';
}
ul.elenco li{
    padding-bottom: 0.3em;
    font-size: 1.1em;
    list-style-type: square;
}
ul li.diversoPeriodo{
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
}
ul .nomeCitta{
    font-weight: bold;
    font-size: 1.1em;
}

/*INIZIO PARTE SLIDER*/
div.slider {
  width: 500px;
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 0.5em;
}

div.slides {
  display: flex; /*le vedi una sotto l'atra*/
  overflow-x: auto;
  scroll-behavior: smooth;
}
div.slides::-webkit-scrollbar { /*linea sotto che va avanti e indietro: dimensioni*/
  width: 10px;
  height: 10px;
}
div.slides::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0610C9, #24325F);
  border-radius: 10px;
}
div.slides::-webkit-scrollbar-track {
  background: white;
}
div.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0; /*si vedono 5 immagini piccole*/
  width: 500px;
  height: 500px;
  margin-right: 50px; /*serve per il bianco dopo le immagini*/
  border-radius: 10px;
  background: #eee; /*sfondo delle slide*/
  transform-origin: center center;
  transform: scale(1); /*si ingrandisce sempre più*/
  transition: transform 0.5s;
  position: relative;
  font-size: 2em;
}

div.slides img { /*effettivamente per le immagini*/
  object-fit: cover; /*per adattarle meglio*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

div.slider a {
  display: inline-flex; /*per vederli uno dietro l'altro*/
  width: 1.5em;
  height: 1.5em;
  background: linear-gradient(to bottom, #0610C9, #24325F);
  color: white;
  text-decoration: none; /*tira via sottolineatura dei link*/
  justify-content: center; /*non si vedono bene i numeri*/
  border-radius: 50%;
  margin: 0 0 0.5em 0;
  margin-top:0.5em;
}
div.slider > a:focus {
  background: #000;
}
/*PAGINA 404*/
.main p.titolo_404{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em; 

}
.main p.sottotitolo_404{
    font-size: 1.5em;   
    text-align: center; 
    width: 60%; 
    float: left;  
    margin: 8% 2em 2em 2em; 
}
.main img.img_404{
    width: 30%;
    height: auto; 
    padding-top: 1em;
}
/* Slideshow container */
div.main .slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
div.main .mySlides {
  display: none;
}

/* Next & previous buttons */
div.main .prev, div.main .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
div.main .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
div.main .prev:hover, div.main .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
div.main .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
div.main .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
div.main .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

div.main .active, div.main .dot:hover {
  background-color: #717171;
}

/* Fading animation */
div.main .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

div.main .galleria{
    width: 100%;
  height: auto;
    margin: 2em auto; 
}

div.main .contenitoreAnteprime{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5em;
}



div.main .anteprima img{
  width: 100%;
    height: 100%;
  object-fit: cover;
}

div.main .anteprima img::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

#anteprima1{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
}
#anteprima2{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
}

#anteprima3{
  grid-column-start: 4;
  grid-row-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
}

#anteprima4{
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 4;
  grid-row-end: 3;
}

#anteprima5{
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;
}
#anteprima6{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 4;
}

#anteprima7{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
}

#anteprima8{
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-row-end: 5;
}

#anteprima9{
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
  grid-row-end: 5;
}

#anteprima10{
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 5;
  grid-row-end: 5;
}
p.hiddenGalleria{
  display: none;
}
div.slideshow-container img{
  width: 100%;
}
.punti{
  text-align: center;
}